

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	background-color:#EEE;
	font-family: 'Lato', sans-serif;
}

h1 {
	position:absolute;
	top:50%;

	margin-top:-8rem;
	width:100%;

	text-align:center;

	text-transform:uppercase;
	font-size:16rem;
	font-weight:bold;
	color:#259;

}

.space {
	letter-spacing: -1.7rem;
}

.leaf {
	width:12rem;
	height:12rem;
}

path {
	fill:#333;
}

footer {
	position:absolute;
	bottom:1rem;
	left:0;
	right:0;
	text-align:center;
}