

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	background-color:#EEE;
	font-family: 'Lato', sans-serif;
}

h1 {
	position:absolute;
	top:50%;

	margin-top:-8rem;
	width:100%;

	text-align:center;

	text-transform:uppercase;
	font-size:16rem;
	font-weight:bold;
	color:#259;

}

h1::selection, .labs {
	background: #DDD; /* Safari */
}

::-moz-selection {
	background: #DDD; /* Firefox */
}

.space {
	letter-spacing: -1.7rem;
}

.leaf {
	width:12rem;
	height:12rem;
}

.leaf path {
  stroke:#333;
  fill:rgba(0,0,0,0);
}

.leaf path.fillable {

  -webkit-transition: fill 0.5s ease-in-out;
  -moz-transition: fill 0.5s ease-in-out;
  -ms-transition: fill 0.5s ease-in-out;
  -o-transition: fill 0.5s ease-in-out;
  transition: fill 0.5s ease-in-out;
}

.leaf:hover path.fillable {
  fill:#296;
}

footer {
	position:absolute;
	bottom:1rem;
	left:0;
	right:0;
	text-align:center;
}
